<div class="wrapper style1">
	<div class="container">

		<div class="row">
			<div class="12u skel-cell-important" id="content">
				<article id="main" class="special">
					<header>
						<h2><a href="#">Contact Us</a></h2>
						<span class="byline">
							We're always looking for exciting new projects to get our hands on.
						</span>
					</header>
        </article>
			</div>
		</div>

		<form action="/contact" method="post">
			<div class="row">

				<div class="6u">
					<div>
						<label for="name">Name</label>
						<input class="text" type="text" placeholder="Jefferson Steelflex">
					</div>

					<div>
						<label for="email">Email</label>
						<input class="text" type="email" placeholder="steelflex@jabrone.com">
					</div>

					<div>
						<label for="phone">Phone</label>
						<input class="text" type="text" placeholder="+1(800)867-5309">
					</div>

					<div>
						<label for="budget">I need</label>
						<select class="input-style" name="type">
							<option>Help!</option>
							<option>A blowjob</option>
							<option>Diego's sweet ass</option>
							<option>Kole's loving embrace</option>
							<option>Something else...</option>
						</select>
					</div>

					<div>
						<label for="budget">Budget</label>
						<select id="budget" name="budget">
							<option value=""></option>
							<option>$2,000 - $5,000</option>
							<option>$5,000 - $10,000</option>
							<option>$10,000 - $15,000</option>
							<option>$15,000 - $20,000</option>
							<option>$20,000 +</option>
						</select>
					</div>
				</div>

				<div class="6u">
					<label for="info">Project Description</label>
					<textarea id="info" placeholder="Tell us about your project."></textarea>
					<button type="submit" class="button">Submit</button>
				</div>

			</div>
		</form>

	</div>
</div>
