
		<!-- Banner -->
			<div id="banner">
				<header>
					<h2>We're <strong>Liabus</strong>, and your software is our business.</h2>
					<span class="byline">
							By focusing primarily on emerging web technologies, Liabus is able to deliver a robust and cutting-edge product that is guarenteed to last.
					</span>
				</header>
				<p>
					Insert some content about the Liabus philosophy here. Have Andy write something up.
					Also talk about how we strive for 100% client satisfaction, and we haven't missed our mark yet.
					Give back to community through coorperate sponsorship.
				</p>
			</div>

		<!-- Carousel -->
			<div id="subBanner">
					<h2>Get to know our Work</h2>
					<span class="byline">
							As a software development company, we live and die by our work.
							Our projects always excite us, and we're incredibly proud of what we've been able to accomplish.
							<br><br>
							Have something exciting to work on? <a href="/contact">Contact us!</a>
					</span>
			</div>

			<div class="carousel">
				<div class="reel">

					<article>
						<a href="http://cloud.verizon.com/" class="image featured"><img src="images/clients/VerizonLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Verizon Cloud </a></h3>
						</header>
						<p>
							Developed benchmarking systems to test the new Verizon Cloud beta.
						</p>
					</article>

					<article>
						<a href="http://developer.nokia.com/" class="image featured"><img src="images/clients/NokiaLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Nokia </a></h3>
						</header>
						<p>
							Prototyped the developer website, HTML and API Generation.
						</p>
					</article>

					<article>
						<a href="http://www.safeway.com/IFL/Grocery/Home" class="image featured"><img src="images/clients/SafewayLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Safeway </a></h3>
						</header>
						<p>
							Developed a custom app solution to optimize operations and productivity.
						</p>
					</article>

					<article>
						<a href="http://propos.io/" class="image featured"><img src="images/clients/ProposioLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Propos.io </a></h3>
						</header>
						<p>
							Developed a proposal generation tool for client-facing businesses.
						</p>
					</article>

					<article>
						<a href="http://www.petsmart.com/" class="image featured"><img src="images/clients/PetsmartLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> PetSmart </a></h3>
						</header>
						<p>
							Built an application designed to track operational efficiency.
						</p>
					</article>

					<article>
						<a href="http://intheroom.herokuapp.com/#/" class="image featured"><img src="images/clients/PresenterLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Presenter </a></h3>
						</header>
						<p>
							Constructed an all-in-one web-based classroom solution.
						</p>
					</article>

					<article>
						<a href="http://www.zombo.com/" class="image featured"><img src="images/clients/FourthManLogo.png" alt="" /></a>
						<header>
							<h3><a href="#"> Fourth Man </a></h3>
						</header>
						<p>
							Organized a platform to coordinate access to private golf courses.
						</p>
					</article>

				</div>
			</div>

		<!-- Main -->
			<div class="wrapper style2">

				<article id="main" class="container special">
					<a href="http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
					<header>
						<h2><a href="#">Sed massa imperdiet magnis</a></h2>
						<span class="byline">
							Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
							pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
						</span>
					</header>
					<p>
						Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
						posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
						sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
						mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
						lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
						consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
						interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
						natoque aenean scelerisque.
					</p>
					<footer>
						<a href="#" class="button">Continue Reading</a>
					</footer>
				</article>

			</div>

		<!-- Features -->
			<div class="wrapper style1">

				<section id="features" class="container special">
					<header>
						<h2>Meet Our Team</h2>
						<span class="byline">We are a highly dedicated team based in Portland, Oregon intent on providing our clients with top-notch service and products.</span>
					</header>
					<div class="row">
						<article class="4u special">
							<a href="http://mdomaradzki.deviantart.com/art/Bueller-VII-351975126" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
							<header>
								<h3><a href="#"> Jordan Gensler </a></h3>
								<h4> Founder, Head of Software Engineering </h4>
							</header>
							<p>
								Born and raised in Oregon, Jordan started Liabus to bring together the best talent in cutting-edge web development.
								Jordan ensures Liabus adheres to it's core philosophy, which has allowed us to attain 100% client satisfaction.
							</p>
						</article>
						<article class="4u special">
							<a href="http://mdomaradzki.deviantart.com/art/Home-Bound-Train-II-338912191" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
							<header>
								<h3><a href="#"> Andrew Luu </a></h3>
								<h4> Head of Research and Development </h4>
							</header>
							<p>
								Andrew (refered to interally as "Asian Jordy") spends most of his time researching exciting new opportunities for development.
								He leads a small but dedicated team, which develops coneceptual apps and websites, experimenting with new development paradigms and ideas.
							</p>
						</article>

						<% if(Math.random() > 0.5){ %>
							<article class="4u special">
								<a href="http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="#"> Kole Myers </a></h3>
									<h4> Head of Mobile Development </h4>
								</header>
								<p>
									Kole is a web and mobile developer with Liabus, leading the charge of mobile application development.
									He has been with Liabus since the beginning, and works primarily on client projects.
								</p>
							</article>
						<% }else{ %>
							<article class="4u special">
								<a href="http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="#"> Jack Kunkel </a></h3>
									<h4> Head of Accounts </h4>
								</header>
								<p>
									A native of Illinois, Jack has a specialized background in fucking bitches and hoes.
									He has a 10" cock and is not afraid to use it. 
								</p>
							</article>
						<% } %>
					</div>
				</section>

			</div>
